<header>
  <div class="container">
    <%= link_to "logo", root_path %>
  </div>
</header>

<%= render "bar_back/queries/form", query: @query %>

<% if @query.errors.any? %>
  <div class="container">
    <%= render 'bar_back/root/errors', full_messages: @query.errors.full_messages %>
  </div>
<% else %>
  <%= render 'bar_back/root/saved_queries', queries: @queries %>
<% end %>
