$aubergine: #2C0D36;
$light-aubergine: #5C3C67;
$ice: #F8F8F8;
$dark-ice: #D7D7D7;

$space-1: 10px;
$space-2: 20px;
$space-4: 40px;

$height: 45px;
$width: 70px;

$medium-breakpoint: 480px;
$large-breakpoint: 768px;

* {
  box-sizing: border-box;
}

body {
  background: $aubergine;
  color: $ice;
  margin: 0;
}

@mixin mono() {
  font-family: 'JetBrains Mono', monospace;
}

@mixin sans-serif() {
  font-family: 'Raleway', sans-serif;
}

h2 {
  @include sans-serif();
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

input[type="button"], input[type="submit"] {
  @include sans-serif();
  font-size: 1rem;
}

p {
  @include mono();
  font-size: 1rem;
  margin-top: $space-2;
}

input[type="text"], textarea {
  @include mono();
  font-size: 1rem;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: $medium-breakpoint) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: $large-breakpoint) {
  .container {
    width: 60%;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.query-form {
  background-color: $light-aubergine;
  padding: $space-4 0;
}

.query-form__query-string {
  width: 100%;
  height: 150px;
  border: 0;
  padding: $space-1;
}

.query-form__query-name {
  width: 100%;
  margin: 0;
  margin-top: $space-1;
  border: 0;
  padding: $space-1;
  height: $height;
}

.query-form__controls {
  text-align: right;
  margin-top: $space-2;
}

.query-form__submit {
  padding: $space-1;
  height: $height;
  background: none;
  -webkit-appearance: none;
  background-color: $ice;
  border: 1px solid $ice;
  min-width: $width;
  border-radius: 5px;
  color: $aubergine;
  cursor: pointer;

  &:hover, &:active {
    background-color: $dark-ice;
    border-color: $dark-ice;
  }
}

.saved-queries {
  margin: $space-4 auto;
}
