<header>
  <div class="container">
    <%= link_to "logo", root_path %>
  </div>
</header>

<div class="container">
  <h1><%= @query.name %></h1>
</div>

<%= render "bar_back/queries/form", query: @query %>

<div class="container">
  <%= render "bar_back/queries/results", allow_writes?: true, query: @query, result: @result, error_messages: @error_messages %>
</div>
